.version.anilkumarindex /* version checker */
{
	color: #0000E7;
	background-color: #6D0EEA;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 3492px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 144px;
	padding-bottom: 3046px;
	width: 0.01px;
}

#u684
{
	z-index: 2;
	height: 86px;
	top: -5px;
}

#u684-bw
{
	z-index: 2;
}

#u683-4
{
	z-index: 11;
	width: 113px;
	min-height: 28px;
	top: 38px;
	left: 50%;
	margin-left: -66px;
}

#u685-4
{
	z-index: 3;
	width: 113px;
	min-height: 28px;
	top: 38px;
	left: 50%;
	margin-left: 47px;
}

#u682-4
{
	z-index: 15;
	width: 113px;
	min-height: 28px;
	top: 38px;
	left: 50%;
	margin-left: 161px;
}

#u686-4
{
	z-index: 7;
	width: 113px;
	min-height: 28px;
	top: 38px;
	left: 50%;
	margin-left: 274px;
}

#u687-4
{
	z-index: 19;
	width: 113px;
	min-height: 28px;
	top: 38px;
	left: 50%;
	margin-left: 387px;
}

#u694-6
{
	z-index: 27;
	width: 725px;
	min-height: 184px;
	background-color: transparent;
	color: #00A99D;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 700;
	margin-left: 157px;
	position: relative;
}

#u694-2
{
	font-size: 48px;
	line-height: 58px;
}

#u694-4
{
	font-size: 72px;
	line-height: 86px;
}

#u688-4
{
	z-index: 23;
	min-height: 62px;
}

#u688-4-bw
{
	z-index: 23;
	min-height: 62px;
	margin-top: 56px;
}

body
{
	position: relative;
	min-width: 1000px;
	padding-bottom: 95px;
}

#page .verticalspacer
{
	clear: both;
}

