#u1263-4
{
	font-family: open-sans-i3, sans-serif;
}

#u1268-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1242-4
{
	font-family: pacifico-n4, cursive;
}

#u1242-2,#u1269-4
{
	font-family: la-belle-aurore-n4, cursive;
}

