#u1257
{
	background-color: #FFFFFF;
	position: fixed;
}

.js #u1257.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u1263-4
{
	background-color: #FBB043;
	color: #FFFFFF;
	text-align: center;
	line-height: 29px;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
}

#u1263-2
{
	padding-top: 122px;
}

#u1268-4
{
	background-color: #FBB043;
	line-height: 36px;
	color: #FFFFFF;
	text-align: center;
	font-size: 30px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u1242-6
{
	background-color: #7F7F7F;
	color: #FFFFFF;
	text-align: justify;
	font-size: 31px;
	font-weight: 400;
}

#u1242-2
{
	padding-right: 98px;
	padding-left: 98px;
	padding-top: 34px;
	font-family: la-belle-aurore, cursive;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1242
{
	font-size: 27px;
	line-height: 33px;
}

#u1242-4
{
	padding-right: 98px;
	padding-left: 98px;
	padding-top: 32px;
	font-family: pacifico, cursive;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1242-3
{
	font-size: 27px;
}

#u1269-4
{
	background-color: transparent;
	line-height: 30px;
	color: #7F7F7F;
	text-align: justify;
	font-size: 24px;
	font-family: la-belle-aurore, cursive;
	font-weight: 400;
}

#u1269-2
{
	padding-right: 98px;
	padding-left: 98px;
	padding-top: 32px;
}

